

<form [formGroup]='doctorretrievalform' (ngSubmit)="retreival()">

    <div class= 'col-md-3'>
     <label >Problem Description</label><br>
     <input type="text"  class = "form-control" formControlName='patientDescripion'>
    
    </div>
    <div class= 'col-md-2'>
        <label>Specilization</label><br>  
        <!-- <input type="text"  class = "form-control" formControlName='patientSpeciliztion'>
        -->
       

               <select  class = "form-control" formControlName='patientSpeciliztion'>
                  <option value="Cardiologist">Cardiologist</option>
                  <option value="Neurologist">Neurologist</option>
                  <option value="Orthopologist">Orthopologist</option>
                  
                  <option value="Dermatalogist">Dermatalogist</option>
                  <option value="Psychiatrist">Psychiatrist</option>
                </select>
              </div>
                   
            
            
         
       <div class= 'col-md-3'>
            <label>Location</label><br>
          <!--  <input type="text" class = "form-control"  formControlName='patientAddress'>-->
            
            <select  class = "form-control" formControlName='patientAddress'>
                <option value="Banglore">Banglore</option>
                <option value="Hyderbad">Hyderbad</option>
                <option value="Visakhapatnam">Visakhapatnam</option>
                <option value="Goa">Goa</option>
                <option value="Chennai">Chennai</option>
                <option value="Ippalavalasa">Ippalavalasa</option>
              </select>
       </div>

            <div class= 'col-md-2'>
                  <label>Date</label><br>
                  <input type="date" class = "form-control"  formControlName='patientDate'>
              </div>

            
               <div class = 'col-md-2'>
                 <label></label><br>
    <input type="submit" class = 'btn btn-primary'  value = 'Search'>
  </div> 
    </form>


<div *ngIf="availableDoctors.length==0">
  <p>no doctors available</p>
</div> 



<div>
  <table class="table" *ngIf="availableDoctors.length!=0">
<tr>
    <td><thead>Doctor name</thead></td>
    <td><thead>Specilization</thead></td>
    <td><thead>Experience</thead></td>
    <td><thead>Phone number</thead></td>
</tr>
    <tr *ngFor="let doctor of availableDoctors">
      <td>{{doctor.name}}</td>
      <td>{{doctor.specilization}}</td>
      <td>{{doctor.experience}}</td>
      <td>{{doctor.phoneNumber}}</td>
      <td><button  class = "btn btn-primary"(click)="makeAppointment(doctor.emailId)" >make appointment</button></td>

    </tr>
  </table>

</div>
<div *ngIf="status">Your Appointment is successfully done please check in  <a routerLink="/patientViewApppointments">View Appointments</a></div>





