<div><h1>Your Appointments:</h1></div>

<div class="container-fluid">
    <table class="table table-striped" *ngIf="appointmentList.length!=0">
  <thead class="thead-dark">
  <tr>
      <th>Problem</th>
      <th>Doctor name</th>
      <th>location</th>
      <th>Date</th>
  </tr>
  </thead>
      <tr *ngFor="let appointment of appointmentList">
        <td>{{appointment.problem}}</td>
        <td>{{appointment.doctorName}}</td>
        <td>{{appointment.location}}</td>
        <td>{{appointment.date|date: 'dd/MM/yyyy'}}</td>
  
      </tr>
    </table>
  
  </div>

  <div *ngIf="appointmentList.length==0" ><p class="text-danger">No appointments have taken till now</p> </div>